@model NoovinData.Models.Domin.Group

@{
    ViewBag.Title = "ویرایش گروه";
    Layout = "~/Views/Shared/_Profile.cshtml";
}
<link href="~/Content/_css/alert.css" rel="stylesheet" />
<div class="part_left">

    <div id="product_list" class="userpanel_bright_section">
        <h1 class="separator">ویرایش دسته : @Model.Group_Name </h1>

        @if (ViewBag.Error != null)
        {
            <div class="alert alert-info">
                <a class="close" style="cursor:pointer;" onclick="$('.alert').hide()">×</a>
                @ViewBag.Error
            </div>
        }



        <div class="form_style1 form_wrapper clearfix ">
            <div class="overlay"></div>


            @using (Html.BeginForm("EditGroup", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", id = "frm_add_product" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(model => model.Group_ID)

                <ul class="list">
                    <li class="item full">
                        <i class="fa fa-arrow-left"> </i>
                        @Html.Label("نام گروه", new { @style = "margin-top: -27px;margin-right: 20px;padding-bottom: 5px;" })


                        @Html.TextBoxFor(model => model.Group_Name, new { @required = "" })


                        @Html.ValidationMessageFor(model => model.Group_Name, "", new { @class = "text-danger" })

                    </li>
                    <li class="item full">
                        <i class="fa fa-arrow-left"> </i>
                        @Html.Label("تصویر گروه", new { @style = "margin-top: -27px;margin-right: 20px;padding-bottom: 5px;" })

                        <img src="~/Content/_images/Group/@Model.Group_Pic" style="background-color:#0094ff" alt="@Model.Group_Name" width="120" height="100" />

                        <br />
                        <input type="file" name="PicGroup" value=" " />

                    </li>
                    <li class="item full">
                        <input type="submit" value="ویرایش کردن" />
                    </li>
                </ul>
            }



            <script src="~/Scripts/jquery.validate.min.js"></script>
            <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
        </div>

    </div>
</div>
