
@{
    ViewBag.Title = "صفحه اصلی";
    Layout = "~/Views/Shared/_MainHome.cshtml";
            
}


<h6>salam mehdi</h6>

@Html.Partial("P_Slid")

@Html.Partial("P_Groups")

@Html.Partial("P_NewProduct")

@Html.Partial("P_tabligh")

@Html.Partial("P_BestSales")

@Html.Partial("P_Amar")

 


